<div class="calculator">
  <input type="text" [(ngModel)]="display" readonly />
  <div class="buttons">
    <button *ngFor="let num of [1,2,3,4,5,6,7,8,9,0]" (click)="appendNumber(num)">{{ num }}</button>
    <button (click)="appendOperator('+')">+</button>
    <button (click)="appendOperator('-')">-</button>
    <button (click)="appendOperator('*')">×</button>
    <button (click)="appendOperator('/')">÷</button>
    <button (click)="clear()">C</button>
    <button (click)="calculate()">=</button>
  </div>
</div>

<router-outlet></router-outlet>
